<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'/>
    <title>QuestLog - Edit</title>
    <meta name='robots' content='noindex, nofollow'>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css' rel='stylesheet'/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
          type='text/css'/>
    <link href="../../static/css/quests.css" th:href="@{/css/quests.css}" rel="stylesheet" />
</head>
<body>
<div class='sidebar'>
    <div class='heading'>
        <h1><span th:text="QuestLog +' '+ ${userName}"></span>
        </h1>
        <div class="panel-options">
            <a href="/quests/add"> NEW </a>| <a href="/quests"> MAP </a>| <a th:href="@{/logout}"> LOG OUT</a>
        </div>
        <div class="panel-lvl" th:text="'LVL ' +${playerStatus.lvl} +' | ' + ${playerStatus.exp} + ' / '+${playerStatus.expCap} + ' EXP'"></div>
    </div>
    <div id='listings' class="listings">
        <form th:action="@{/quests/edit}" th:object="${quest}" method="POST" class="quest">
            <div class="sub-heading">EDIT QUEST</div>
            <hr style="width: 95%;">
            <input type="hidden" th:field="*{id}" value=""/>
            <input type="hidden" th:field="*{user.id}" value=""/>
            <input type="hidden" th:field="*{localization.id}" value=""/>
            <input type="hidden" th:field="*{questStatus}" value=""/>
            <input type="text" id="name" name="name" placeholder="QUEST NAME" th:field="*{name}"/>
            <input type="text" id="description" name="desc" placeholder="QUEST DESCRIPTION" th:field="*{description}"/>
            <input type="text" placeholder="QUEST DEADLINE"
                   onfocus="(this.type='date')"
                   onblur="(this.type='text')" id="deadline" name="date" th:field="*{deadline}"/>
            <input type="text" placeholder="QUEST TIME"
                   onfocus="(this.type='time')"
                   onblur="(this.type='text')" id="time" name="date" th:field="*{time}"/>
            <select id="type" th:field="*{questType}">
                <option th:each="type: ${T(com.lankovv.questlog.model.QuestType).values()}" th:value="${type}"
                        th:text="${(type.name).toUpperCase()}"></option>
            </select>
            <input type="hidden" th:field="${quest.localization.longitude}" id="longitude" value=""/>
            <input type="hidden" th:field="${quest.localization.latitude}" id="latitude" value=""/>
            <input type="hidden" th:field="${quest.localization.address}" id="address" value=""/>
            <button name="Submit" type="Submit"
                    th:text="Edit"></button>
            <div class="validation-div">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                     class="validation-message"></div>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                     class="validation-message"></div>
                <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"
                     class="validation-message"></div>
                <div th:if="${#fields.hasErrors('time')}" th:errors="*{time}"
                     class="validation-message"></div>
            </div>
        </form>
        <span class="register-success validation-div" th:utext="${successMessage}"></span>
    </div>
</div>
</div>
<div id='map' class='map'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGFua292diIsImEiOiJjazBhdmJidDMwbHhvM2dud3d0b3BwajY0In0.vBvnDXH2rc02S-JQnpL1bQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [14.560, 53.428],
        zoom: 11
    });


    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        marker: {
            color: 'black',
        },
        interactive: false,
        placeholder: 'Search for quest localizations',
        proximity: {
            longitude: 14.560,
            coords: 53.428
        }
    });

    map.addControl(geocoder);


    map.on('load', function () {
        map.addSource('single-point', {
            type: 'geojson',
            data: {
                type: 'FeatureCollection',
                features: []
            }
        });
        
        geocoder.on('result', function (ev) {
            map.getSource('single-point').setData(ev.result.geometry);
            console.log(ev.result.place_name);
            document.getElementById('longitude').value = ev.result.center[0];
            document.getElementById('latitude').value = ev.result.center[1];
            document.getElementById('address').value = ev.result.place_name;

        });

    });

</script>
</body>
</html>